<table>
  <thead>
  </thead>
  <tbody>
    <tr class="key-row">
      <td>
        <app-button value="C" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
        <app-button value="/" (onClick)="_buttonPushed($event)"></app-button>
      </td>
    </tr>
    <tr class="key-row">
      <td>
        <app-button value="7" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="8" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="9" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="*" (onClick)="_buttonPushed($event)"></app-button>
      </td>
    </tr>
    <tr class="key-row">
      <td>
        <app-button value="4" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="5" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="6" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="-" (onClick)="_buttonPushed($event)"></app-button>
      </td>
    </tr>
    <tr class="key-row">
      <td>
        <app-button value="1" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="2" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="3" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="+" (onClick)="_buttonPushed($event)"></app-button>
      </td>
    </tr>
    <tr class="key-row">
      <td>
        <app-button value="+/-" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="0" (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="." (onClick)="_buttonPushed($event)"></app-button>
      </td>
      <td>
        <app-button value="=" (onClick)="_buttonPushed($event)"></app-button>
      </td>
    </tr>
  </tbody>
</table>